<launch>
	<!--*_cam_path: the location of the camera devices. 
		Use a path that won't change with reboot.
		See /etc/udev/rules.d/30-pscam.rules -->
	<arg name="left_cam_path"  value="/dev/video-left"/>
	<arg name="right_cam_path" value="/dev/video-right"/>

	<!--Camera drivers-->
	<node name="cameras" pkg="uvc_camera" type="stereo_node" output="screen">
		<param name="left/device" value="$(arg left_cam_path)" />
		<param name="right/device" value="$(arg right_cam_path)" />	
		<param name="left/camera_info_url"  value="file:///home/optimus/Terminus/groovy/etc/calLeft.yml" />
		<param name="right/camera_info_url" value="file:///home/optimus/Terminus/groovy/etc/calRight.yml" />
		<param name="width" value="640" />
		<param name="height" value="480" />
		<param name="fps" value="30" />
	</node>
	
	<!--Stereo processing-->
	<remap from="left/image_rect" to="left/cameras/image_rect"/>
	<remap from="right/image_rect" to="right/cameras/image_rect"/>
	<node name="stereo_processing" pkg="stereo_image_proc" type="stereo_image_proc">
		<param name="approximate_sync" value="false"/>
	</node>
	
	<!--Odometry-->
	<remap from="/tf" to="tf"/>
	<node name="visualodometry" pkg="viso2_ros" type="stereo_odometer" args="stereo:=/cameras image:=image_rect"/>

	<!--Disparity viewer-->
	<remap from="left/image_rect_color" to="left/cameras/image_rect_color"/>
	<remap from="right/image_rect_color" to="right/cameras/image_rect_color"/>
	<node name="viewers" pkg="image_view" type="stereo_view" args="stereo:=/cameras image:=image_rect">
		<param name="autosize" value="false"/>
	</node>	

</launch>
